[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/travlr/travlr_python
ExecStart=/root/travlr/VENV/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          travlr_python.wsgi:application

[Install]
WantedBy=multi-user.target